// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app.md {
    background-color: #fafafa;
}

ion-content.content-md {
    background-color: transparent;
}

.split-pane-md.split-pane-visible > .split-pane-side {
    width: 25%;
}

ion-icon {
    color: #666666!important;
}

.active {
    background-color: #fafafa;
}

.menu-container {
    height: 100%;
    width: 100%;
    .logo {
        background-color: #c0392b;
        padding: 50px 100px;
        img {
            width: 100%;
        }
    }    
}

ion-card.card-md {
    &.titulo {
        background-color: #334356;  
        text-align: center;
        margin-bottom: 30px;
        h1 {
            font-size: 40px;
            font-weight: 800;
            color: #ffffff;
            margin: 0
        }
    }
    .poster {
        border: 1px solid #fafafa;
        width: 100%;
        float: right;
        margin-left: 20px;
        margin-bottom: 16px;
        &.left {
            float: left;
            margin-right: 20px;
            margin-left: 0;
        }
        @media (min-width: 700px) {
            width: 30%;
        }
    }
    ion-icon {
        margin-right: 16px;
    }
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 700px) {
        width: 60%;
    }
}